<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="address_add">
        배송지 등록
        <form id="address" action="/mypage/addaddress" method="post">
            <input type="text" placeholder="우편번호" name="address_postnum"><br>
            <input type="text" placeholder="기본주소" name="address_basicaddress"><br>
            <input type="text" placeholder="상세주소" name="address_detailaddress"><br>
            <input type="submit" value="등록">
        </form>
    </div>
</body>
</html>