<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="addbook">
        <form action="/addbook" method="post">
            <input type="text" placeholder="도서명" name="title"><br>
            <input type="text" placeholder="수량" name="count"><br>
            <input type="text" placeholder="가격" name="price"><br>
            <input type="submit" value="등록">
        </form>
    </div>
</body>

</html>