<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    온라인 서점<br>
    <div name="header">
        <div name="nav">
            <input type="text" placeholder="도서명을 입력하세요.">
            <input type="submit" value="검색">
        </div>
        <a href="/signin">로그인</a>
        <a href="/basket">장바구니</a>
    </div>
</body>

</html>