<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%-include ('head')%>

    <body>
        <hr>
        도서목록<br>
        <a href="/addbook">도서등록</a>
        <div id="booklist">
            <% book.forEach(books =>{ %>
                <a href="/book/<%=books.book_id%>">도서명 : <%= books.book_name %>&nbsp<br></a>
            <% }) %>
        </div>
    </body>

</html>