<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="signin">
        <form action="/signin" method="post">
            <input type="text" placeholder="아이디" name="id"><br>
            <input type="text" placeholder="비밀번호" name="pw"><br>
            <input type="submit" value="로그인">
            <a href="/signup">회원가입</a>
        </form>

    </div>
</body>

</html>